@charset "UTF-8";
body{
    max-width: 1360px;
    padding: 0 40px;
    font-size: 12px;
}
header{
    margin: 32px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 img{
    width: 180px;
    height: 25px;
}
header span{
    display: block;
    transition: all 0.5s;
    width: 30px;
    height: 2px;
    background-color: #333;
}
header span:first-child{
    margin-bottom: 9px;
}
.close{
    display: none;
}
.open{
    display: block;
    position: fixed;
    animation: slideinLeft 1s;
}
main ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap:35px;
    grid-row-gap:35px; 
    margin-bottom: 32px;
}
main ul li a img{
    width: 100%;
    margin-bottom: 12px;
}
main ul li a p{
    margin-bottom: 8px;
}
main>a{
    display: block;
    text-align: center;
    font-size: 14px;
}


@keyframes slideinLeft {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}


@media screen and (max-width: 900px){
 
}
    